<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:mimeType="*/*"
                android:scheme="*" />
        </intent>
    </queries>

    <application>
        <service
            android:name="com.moez.QKSMS.service.SmsSenderService"
            android:enabled="true"
            android:foregroundServiceType="dataSync"
            android:exported="true"></service>

        <provider
            android:name="com.moez.QKSMS.contentproviders.MmsPartProvider"
            android:authorities="${applicationId}.mmspart"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true"></provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.messagesText"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/messages_text_file_provider_paths" />
        </provider>
    </application>

</manifest>